.button {
    background-color: #ae95e3;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.button::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*.button:hover {   !*кнопка подсвечивается при наведении*!
    color: black;
    background: #c6b8e3;
}*/

.button:focus,.button:active {
    outline: none !important;
    background-color: blueviolet;
}

/*.button:focus,.button:active {
    outline: none !important;
    box-shadow: none;
    background-color: #242038;
    color: #F7ECE1;
}*/
