body {
    font-family: sans-serif;
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}

.container {
    height:200px;
    width:200px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: linear-gradient(90deg, rgb(96, 68, 121) 50%, rgba(95, 109, 172, 0.99) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.buttons_container {
    display: flex;
    column-gap: 50px;
    /*justify-content: space-between;*/
    border: 3px solid #939191;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0 auto;
}

.red {
    color: red;
}
