.btn {
    background-color: #ae95e3;
    
    font-size: 15px
}

.btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
    color: black;
    background: #c6b8e3;
}

.btn:focus,.btn:active {
    outline: none !important;
    background-color: blueviolet;
}
/*

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
    background-color: #242038;
    color: #F7ECE1;
}*/
