.btn {
    /*background-color: #ffd106;*/
    color: black;
    border-radius: 25px;

}

/*
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
    background-color: #7153d4;
    color: aliceblue;
}
*/

