body {
    font-family: sans-serif;
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}

.container {
    height:200px;
    width:200px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: linear-gradient(90deg, rgba(90,64,126,1) 50%, rgba(144,103,198,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

h2 {
    margin: 0;
    padding: 20px;
    font-size: 50px;
    color: lightgrey;

}

.buttons_container {
    display: flex;
    column-gap: 50px;
}