body {
    font-family: Arial, sans-serif;
    /*min-height: 100vh;*/
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 150px;
    margin: auto;
    border-radius: 10px;
    background-color: #d47f7c;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 20px;
    font-size: 50px;
    color: #7153d4;
}

.button {
    display: flex;
    justify-content: space-between;
    /*column-gap:70px;*/
}
